* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    width: 50%;
}

div {
    margin-top: 20px;
    margin-left: 20%;
}

a{
    text-decoration: none;
    color: #FAAB1A;
}

ul {
    list-style-type: none;
    width: 500px;
}

h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
    float: left;
    margin: 5px 15px 0 0;
    width: 16px;
}

li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
    padding: 10px;
    overflow: auto;
}

li:hover {
    background: #eee;
    cursor: pointer;
}

#headerLista{
    width: 400px;
}

/*esconde as coisas*/
@page {
    size: auto;
    margin: 0;
}

.btn-imprimir {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.botaoEscondido {
    display: none;
    margin: 0;
    width: 0px;
}

#listaChurrascao {
    align-content: left;
    text-align: left;
}

.pAvisoQtdPessoas {
    width: 100%;
    padding: 10px;
    background-color: #FAAB1A;
}
#divAviso {
    width: 485px;
}